h1 {
        text-align: left;
        font-size: 15pt;
        color: red;
        margin-bottom: 5px;

    }

input.bit {
    text-align: center;
    color: white;
    width: 2.5em;
    background-color: blue;
}

