<!DOCTYPE html>
{% extends 'jobs/base.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
<link href="{% static 'wordcount/StyleSheet.css' %}" rel="stylesheet" type="text/css">
<html lang="en">
<!--removed this heading as the extended base already has a link to home-->
<!--<head>
    <meta charset="UTF-8">
    <a href="{% url 'home1' %}">Return Home</a>
    <title>CAPK</title>
</head>-->
<body>


        <div class="col-10 pt-3">
            <form action="{% url 'hex_reverse_calculated' %}">

                <span style="color:blue; font-size:150%;">Byte1  </span>
                Bit 1:  <input type="number" name="Byte1Bit1" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 2:  <input type="number" name="Byte1Bit2" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 3:  <input type="number" name="Byte1Bit3" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 4:  <input type="number" name="Byte1Bit4" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 5:  <input type="number" name="Byte1Bit5" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 6:  <input type="number" name="Byte1Bit6" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 7:  <input type="number" name="Byte1Bit7" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 8:  <input type="number" name="Byte1Bit8" value="" size="1" maxlength="1" min="0" max="1"/>

                <br/>
                <br/>
                <span style="color:blue; font-size:150%;">Byte2   </span>
                Bit 1:  <input type="number" name="Byte2Bit1" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 2:  <input type="number" name="Byte2Bit2" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 3:  <input type="number" name="Byte2Bit3" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 4:  <input type="number" name="Byte2Bit4" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 5:  <input type="number" name="Byte2Bit5" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 6:  <input type="number" name="Byte2Bit6" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 7:  <input type="number" name="Byte2Bit7" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 8:  <input type="number" name="Byte2Bit8" value="" size="1" maxlength="1" min="0" max="1"/>

                <br/>
                <br/>
                <span style="color:blue; font-size:150%;">Byte3   </span>
                Bit 1:  <input type="number" name="Byte3Bit1" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 2:  <input type="number" name="Byte3Bit2" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 3:  <input type="number" name="Byte3Bit3" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 4:  <input type="number" name="Byte3Bit4" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 5:  <input type="number" name="Byte3Bit5" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 6:  <input type="number" name="Byte3Bit6" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 7:  <input type="number" name="Byte3Bit7" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 8:  <input type="number" name="Byte3Bit8" value="" size="1" maxlength="1" min="0" max="1"/>

                <br/>
                <br/>
                <span style="color:blue; font-size:150%;">Byte4   </span>
                Bit 1:  <input type="number" name="Byte4Bit1" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 2:  <input type="number" name="Byte4Bit2" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 3:  <input type="number" name="Byte4Bit3" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 4:  <input type="number" name="Byte4Bit4" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 5:  <input type="number" name="Byte4Bit5" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 6:  <input type="number" name="Byte4Bit6" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 7:  <input type="number" name="Byte4Bit7" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 8:  <input type="number" name="Byte4Bit8" value="" size="1" maxlength="1" min="0" max="1"/>

                <br/>
                <br/>
                <span style="color:blue; font-size:150%;">Byte5   </span>
                Bit 1:  <input type="number" name="Byte5Bit1" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 2:  <input type="number" name="Byte5Bit2" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 3:  <input type="number" name="Byte5Bit3" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 4:  <input type="number" name="Byte5Bit4" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 5:  <input type="number" name="Byte5Bit5" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 6:  <input type="number" name="Byte5Bit6" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 7:  <input type="number" name="Byte5Bit7" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 8:  <input type="number" name="Byte5Bit8" value="" size="1" maxlength="1" min="0" max="1"/>

                <br/>
                <br/>
                <span style="color:blue; font-size:150%;">Byte6  </span>
                Bit 1:  <input type="number" name="Byte6Bit1" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 2:  <input type="number" name="Byte6Bit2" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 3:  <input type="number" name="Byte6Bit3" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 4:  <input type="number" name="Byte6Bit4" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 5:  <input type="number" name="Byte6Bit5" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 6:  <input type="number" name="Byte6Bit6" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 7:  <input type="number" name="Byte6Bit7" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 8:  <input type="number" name="Byte6Bit8" value="" size="1" maxlength="1" min="0" max="1"/>

                <br/>
                <br/>
                <span style="color:blue; font-size:150%;">Byte7   </span>
                Bit 1:  <input type="number" name="Byte7Bit1" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 2:  <input type="number" name="Byte7Bit2" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 3:  <input type="number" name="Byte7Bit3" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 4:  <input type="number" name="Byte7Bit4" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 5:  <input type="number" name="Byte7Bit5" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 6:  <input type="number" name="Byte7Bit6" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 7:  <input type="number" name="Byte7Bit7" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 8:  <input type="number" name="Byte7Bit8" value="" size="1" maxlength="1" min="0" max="1"/>

                  <br/>
                <br/>
                <span style="color:blue; font-size:150%;">Byte8   </span>
                Bit 1:  <input type="number" name="Byte8Bit1" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 2:  <input type="number" name="Byte8Bit2" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 3:  <input type="number" name="Byte8Bit3" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 4:  <input type="number" name="Byte8Bit4" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 5:  <input type="number" name="Byte8Bit5" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 6:  <input type="number" name="Byte8Bit6" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 7:  <input type="number" name="Byte8Bit7" value="" size="1" maxlength="1" min="0" max="1"/>
                Bit 8:  <input type="number" name="Byte8Bit8" value="" size="1" maxlength="1" min="0" max="1"/>

                <br/>
                <br/>

                 <button class="button1 btn btn-primary btn-lg pt-3" >
               Calculate
            </button>
            </form>
        </div>



        <div class="col-10">
            <form action="{% url 'hex_reverse_calculated' %}">






            </form>
        </div>

</body>
<br/>
{% endblock %}
</html>