<!doctype html>
<html lang="en">
{% extends 'jobs/base.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading"></h1>
            <p class="lead text-muted">Welcome to Robert Weise Jr Utilities!</p>
            <p>

                <a href="mailto:robert.weise@spartannash.com" class="btn btn-secondary my-2">Email Me</a>
            </p>
            <img src="{% static 'bob1.jpg' %}" height="150"/>
        </div>
    </section>

    <div class="album py-5 bg-dark">
        <div class="container">

            <div class="row">

                {% for job in jobs.all %}
                <div class="col-md-4" onclick="window.location='{{ job.url }}';" style="cursor: pointer;">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="{{ job.image.url }}"/>

                        <div class="card-body">
                            <p class="card-text">{{ job.summary }}</p>

                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

</main>
{% endblock %}